@using EFCoreAssignment2.DBFirstModels

@{
    ViewData["Title"] = "Delete";
}

@model Department

<h3>Are you sure?</h3>

<p>@Model.Name</p>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Delete</button>
</form>

