@using EFCoreAssignment2.DBFirstModels

@{
    ViewData["Title"] = "Edit";
}

@model Teacher

<form asp-action="Edit">

    <input type="hidden" asp-for="Id" />

    <label asp-for="Name"></label>
    <input asp-for="Name" />

    <label>Department</label>
    <select asp-for="DepartmentId" asp-items="ViewBag.Departments"></select>

    <button type="submit">Update</button>
</form>

